<a href="https://colab.research.google.com/github/kkdarshan/kk-website/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Subject': ['Math', 'Math', 'Science', 'Science', 'Math'],
    'Marks': [85, 62, 90, 55, 95]
}

df = pd.DataFrame(data)

# Print the full DataFrame
print("Full Data:")
print(df)

# Filter students who scored more than 80
high_scorers = df[df['Marks'] > 80]
print("\nStudents who scored more than 80:")
print(high_scorers)


avg_marks = df.groupby('Subject')['Marks'].mean()
print("\nAverage Marks by Subject:")
print(avg_marks)

Full Data:
      Name  Subject  Marks
0    Alice     Math     85
1      Bob     Math     62
2  Charlie  Science     90
3    David  Science     55
4      Eva     Math     95

Students who scored more than 80:
      Name  Subject  Marks
0    Alice     Math     85
2  Charlie  Science     90
4      Eva     Math     95

Average Marks by Subject:
Subject
Math       80.666667
Science    72.500000
Name: Marks, dtype: float64